/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"); */

.head {
  width: 100%;
  height: 12vh;
  padding-bottom: 8px;
  border-radius: 0 0 20px 20px;
  background-color: var(--darkest);
  color: var(--green);
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
}

.head-title {
  font-size: 26px;
}
